.resp-outer {
  padding: 0;
  .resp-inner {
    padding: 0;
    @media (min-width: 768px) {
      padding: 0 10px;
    }
  }
}
.client-grid { display: none; }

@media all and (min-width: 576px) {
  .client-grid { display: block; }
}
