/* BRAND COLORS  */
$b_black: #0d0d0f;
$b_green: #728e72;
$b_green_hl: #71b171;
$b_blue: #649799;
$b_blue_hl: #88e8ec;
$b_grey: #d7d7d7;

$black: #000;
$black_60: rgba(0,0,0,.6);
$dark-grey: #474747;
$darkest-grey: #131212;
$emerald: #1c941c;
$light-blue: #154cff;
$light_grey: #a8a8a8;
$lightest-grey: #fbfbfb;
$medium-grey: #f1f3f2;
$puce-highlight: #ff2ca9;
$puce-juice: #b11270;
$royal_blue: #3a597f;
$white: #fff;
$white_60: rgba(255,255,255,.6);
